.advantage__item:first-child {
  background-color: @blue;
}

.advantages {
  &__list--top-row,
  &__list--bottom-row {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }

  &__item:first-child {
    background-color: @blue;
  }


}
