.description__about {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.description__autor {
  text-transform: none;
  margin: 0;
}

.photo__list {
  margin: 0;
}

.photo__item {
  padding: 22px 0;
  border-bottom: 1px solid #E5E5E5;
}

.photo__img {
  position: relative;
  display: block;
  height: 280px;
  overflow: hidden;
  margin: 0 20px;
}

.catalog__img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  /*left: -30%;*/
}

.photo__description {
  margin: 10px 20px;
  margin-bottom: 0;
}

.likes {
  display: flex;
  margin-top: 10px;
  height: 21px;
}

.description__likes__counter {
  display: inline-block;
  margin: 0;
  margin-left: 14px;
  font-weight: 700;
}

.description__likes {
  display: flex;
  width: 23px;
  height: 21px;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}
