.form__fieldset {
  margin: 0;
  padding: 0 20px;
  border: none;
  box-shadow: 1px 1px 0 hsl(0, 0%, 90%);
}

.form__fieldset:nth-child(5) {
  box-shadow: none;
}

.form__legend {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.form__item {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  margin: 20px 0;
}

.form__item--contacts {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: flex-start;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  height: 58px;
  border: none;
  background-color: #f2f2f2;
}

.form__input--contacts {
  width: 100%;
}

.form__label {
  margin-right: 20px;
}

.form__label--contacts {
  margin-left: 22px;
}

.form__label--impression,
.form__label--attraction {
  margin-left: 78px;
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
}

.form__input::-webkit-input-placeholder {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.form__input::-moz-placeholder {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.form__input:-ms-input-placeholder {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.form__item--radio {
  position: relative;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 21px;
}

.form__item--radio:last-child {
  padding-bottom: 48px;
}

.form__item--checkbox {
  position: relative;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.form__item--checkbox:last-child {
  padding-bottom: 48px;
}

.form__radio + label::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 7px;
  width: 46px;
  height: 46px;
  background-color: #F2F2F2;
  border: 5px solid #F2F2F2;
  border-radius: 28px;
}

.form__checkbox + label::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 12px;
  width: 46px;
  height: 46px;
  background-color: #F2F2F2;
  border: 5px solid #F2F2F2;
  border-radius: 5px;
}

.form__radio:checked + label::after {
  content: "";
  position: absolute;
  left: 21px;
  top: 23px;
  width: 18px;
  height: 18px;
  background-color: #333333;
  border: 3px solid #333333;
  border-radius: 12px;
}

.form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 21px;
  top: 27px;
  width: 21px;
  height: 12px;
  transform: rotate(-45deg);
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  border-radius: 1px;
}

.form__textarea {
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  margin-top: 15px;
  padding: 10px 20px;
  border: 0;
  background-color: hsl(0, 0%, 95%);
  resize: none;
}

.form__textarea::-webkit-input-placeholder {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.form__textarea::-moz-placeholder {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.form__textarea:-ms-input-placeholder {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.button--form {
  margin: 51px auto 37px auto;
}


@media (max-width: @mobil-width-only) {
  .form__text {
    display: none;
  }
}
