.header {
  min-width: inherit;
  &__title,
  &__text {
    text-align: center;
  }

}

.header__img {
  height: 389px;
  background-color: @gray;


  @media (min-width: @tablet-width) {
    height: 518px;

  }
}
