.intro__main-background {
  display: flex;
  justify-content: center;
  height: 389px;
  background-color: @blue;
  background-image: url("../../img/main-intro-img-1200-@1x.jpg");
  background-position: center;
  background-size: cover;

  @media (max-width: @mobil-width-only) {
    margin-top: -28px;

  }

  @media (min-width: @tablet-width) {
    height: 518px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/main-intro-img-1200-@2x.jpg");
    background-size: cover;
  }

  @media (min-resolution: 3dppx) {
    background-image: url("../../img/main-intro-img-1200-@3x.jpg");
    background-size: cover;
  }

}

.intro__main__text {
  height: 214px;
  margin-top: 90px;

  @media (min-width: @tablet-width) {
    height: 350px;

    margin-top: 78px;

  }
}

.intro__text__wrapper {

  padding: 0 30px;
  max-width: 520px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 520px;
    margin: 0 auto;
  }

}


.intro {
  text-align: center;
  line-height: 26px;

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 32px;


    @media (min-width: @tablet-width) {
      font-size: 21px;
      margin-top: 44px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 55px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 11px;

    @media (min-width: @tablet-width) {
      margin-bottom: 52px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 41px;
  }
}



.intro__bottom__wrapper {
  background-color: @blue;


  @media (min-width: @tablet-width) {
    display: none;
  }
}

.intro__bottom {
  height: 37px;
  background-image: url("../../img/intro-bottom.svg");
  background-position: center;
  background-repeat: no-repeat;

}
