.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-nav.main-nav--nojs {
  display: block;

  @media (min-width: @tablet-width) {
    height: 56px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    height: 56px;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: @mobil-width-only) {
  .main-nav {
    display: none;
  }

  .button--open-menu {
    position: absolute;
    top: 17px;
    right: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .button--close-menu {
    display: none;
  }
}
@media (min-width: @tablet-width) {
  .button--open-menu {
    display: none;
  }
  .button--close-menu {
    display: none;
  }
}

.page-header__logo {
  width: 102px;
  height: 84px;
  background-image: url("../../img/logo.svg");
  margin: 0 auto;
  z-index: 1;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    width: 187px;
    height: 96px;
    background-image: url("../../img/logo-desktop.svg");
  }
}

.main-nav__list {

  list-style: none;
  /*НЕТ МАРКЕРОВ И БЕЗ СТИЛЯ */


  padding: 0;
  margin: 0;
  background-color: @blue;
  color: @white;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    color: @black;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
  }
}

.main-nav__list:nth-child(2) {
  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px rgba(1, 1, 1, 0.2);

  @media (min-width: @tablet-width) {

    box-shadow: none;
    width: 153px;
    height: 56px;
  }

  @media (min-width: @desktop-width) {
    width: 156px;
  }
}

.main-nav__item--last {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 -7px 7px rgba(1, 1, 1, 0.2),
    0 1px 0 rgba(1, 1, 1, 0.2);

  @media (min-width: @tablet-width) {
    box-shadow: none;
  }
}

.button--close-menu.main-nav--nojs {
  display: block;
  position: absolute;
  top: 17px;
  right: 20px;

  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  z-index: 1;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.button--open-menu.main-nav--nojs {
  position: absolute;
  top: 237px;
  right: 20px;

  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
