.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.img {
  border: none;
  margin: 0;
}

.page__body {
  @media (min-width: @tablet-width) {
    max-width: 768px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
