//Colors

@blue: #81B3D2;
@blue-hover: #669EC0;
@blue-active: #5496BD;
@gray: #EEEEEE;
@white: white;
@black: black;
@light-gray: #F2F2F2;
@middle-gray: #EAEAEA;
@dark-gray: #E5E5E5;
@extra-dark-gray: #D5D5D5;


//Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobil-width-only: 767px;

//Fonts

@font-face {
  font-family: "PT Sans";
  src:
    url("../../fonts/ptsans.woff2") format("woff2"),
    url("../../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../../fonts/ptsansbold.woff2") format("woff2"),
    url("../../fonts/ptsansbold.woff") fromat("woff");
  font-weight: 700;
  font-style: bold;
}
